<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Court Booking</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <form th:action="@{/courtBookings/submit}" method="post" class="form-container" th:object="${booking}">

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label" for="memberId">Member</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="${booking.memberId}">
                                    <option th:each="user :${users}"
                                            th:value="${user.userId}"
                                            th:text="${user.firstName + ' ' + user.lastName}"></option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" th:if="${#fields.hasErrors('${booking.memberId}')}"
                           th:errors="${booking.memberId}"></p>
                    </div>

                    <div class="field">
                        <label class="label" for="memberIdOpponent">Opponent</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="${booking.memberIdOpponent}">
                                    <option th:each="user :${users}"
                                            th:value="${user.userId}"
                                            th:text="${user.firstName + ' ' + user.lastName}"></option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" th:if="${#fields.hasErrors('${booking.memberIdOpponent}')}"
                           th:errors="${booking.memberIdOpponent}"></p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">

                    <div class="field">
                        <label class="label" for="courtNumber">Court#</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="${booking.courtNumber}">
                                    <option th:each="court :${courts}" th:value="${court.getCourtNumber()}"
                                            th:text="${court.courtName}"></option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" th:if="${#fields.hasErrors('${booking.courtNumber}')}"
                           th:errors="${booking.courtNumber}"></p>
                    </div>

                    <div class="field">
                        <label class="label" for="startTime">Start Time</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="${booking.startTime}">
                                    <option th:each="time :${times}" th:value="${time.startTime}"
                                            th:text="${time.startTime}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="bookingDate" class="label">Booking date</label>
                        <div class="control has-icons-right">
                            <input class="input date" th:errorclass="is-danger" type="date"
                                   th:field="${booking.bookingDate}">
                        </div>
                        <p class="help is-danger" th:if="${#fields.hasErrors('${booking.bookingDate}')}"
                           th:errors="${booking.bookingDate}"></p>
                    </div>

                </div>
            </div>
            <div class="field">
                <label for="notes" class="label">Notes</label>
                <div class="control has-icons-right">
                    <input class="input" th:errorclass="is-danger" type="text"
                           th:field="${booking.notes}">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('${booking.notes}')}"
                   th:errors="${booking.notes}">
                </p>
            </div>

            <button class="button is-primary">Submit</button>
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>