<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Search Available Courts</title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>
        <div class="container">
            <form th:action="@{/courts/searchResult}" method="get" class="form-horizontal">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <label class="label" for="date">Date:</label>
                            <input type="text"  name="date" id="date" />
                        </div>
                        <div class="field">
                            <label class="label" for="time">Time:</label>
                            <input type="text" name="time" id="time"/>
                        </div>
                        <div class="field">
                            <label class="label" for="courtType">Court Type:</label>                    
                            <select name="courtType">
                                <option th:each="type : ${types}" th:value="${type.codeValueSequence}" th:text="${type.englishDescription}"></option>
                            </select>
                        </div>
                        <div style="text-align: left;" class="form-actions">
                            <button class="btn btn-primary btn-lg" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>