<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Member Booking List</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <form th:action="@{/members/booking}" method="get" class="form-container">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label" for="userid">Member Name:</label>
                        <div class="control">
                            <div class="select">
                                <select id="userId" name="userId">
                                    <option th:each="member :${members}"
                                            th:value="${member.userId}"
                                            th:text="${member.firstName +' '+ member.lastName}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="start" class="label">Start date</label>
                        <div class="control has-icons-right">
                            <input class="input date" type="date" name="start" id="start">
                        </div>
                    </div>
                    <div class="field">
                        <label for="end" class="label">End date</label>
                        <div class="control has-icons-right">
                            <input class="input date" name="end" id="end" type="date">
                        </div>
                    </div>
                </div>
            </div>

            <button class="button is-primary">Submit</button>
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>